.logo{
    width: 14%;
    height: 8%;

    margin-right: 25px;
    
}
.divImg{
    display: flex;
    justify-content: right;
}
.headerContainer{
    background: linear-gradient(to right, #121212, #8c0071, #c3009e, #ff00b8);
    padding: 10px;
    margin-bottom: 15;
    margin-top: -5;
}